<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'dash.css' %}">
	</head>
	<body>
		<div class='main'>
			CUVETTE
			<div class='left'>
				<h1>Welcome to your Dashboard</h1>
				<br>
				<p>This is the homepage of lead management system, login now to begin</p>
				<img src="" alt="logo" class='img'>
			</div>
			<div class='right'>
				<form action="" method="POST">
					<h2>Login to your account</h2>
					<input name='email_address' type='email' placeholder='Enter email address'>
					<input name='password' type='password' placeholder='password'>
					<button type="submit" name="submit">Login now</button>
				</form>
			</div>
		</div>
	</body>
</html>