*{
	margin:0;
	padding:0;
}

.main{
	position: absolute;
	width: 1440px;
	height: 900px;
	background: #FFFFFF;
	padding-left:30px;
	padding-top:40px;
	font-size:28px;
}
.left{
	position: absolute;
	left: 0.42%;
	right: 49.79%;
	bottom:0.9%;
	top: 10%;
	background: rgba(247, 248, 250, 0.5);

}
h1{
	position: absolute;
	top:10%;
	left:12%;
	right:45%;
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	
}
p{
	position: absolute;
	top:27%;
	left:12%;
	right:45%;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 160%;
	letter-spacing: -0.03em;
}
.cuv{
	position: absolute;
	width: 600px;
	height: 500px;
	left: -200px;
	top: -185px;
}
.img{
	position: absolute;
	width: 510px;
	height: 510px;
	left: 119px;
	top: 350px;
}
input{
	display:block;
	padding:8px;
	width:80%;
	height:42px;
	margin:35px;
	border:1px solid #DFE0E0;
	border-radius:5px;
}
button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	position: absolute;
	height: 44px;
	width:73%;
	margin-top:23px;
	margin-left:33px;
	background: #007BFF;
	border:1px solid #DFE0E0;
	border-radius: 5px;
}
a{
	position:absolute;
	left:36.6%;
	top:80%;
}
.right{
	position:absolute;
	left:53%;
	right:8%;
	top:18%;
	padding:25px;
	padding-top:80px;
	display:block;
	border:1px solid #DFE0E0;
	border-radius:8px;
	height:350px;
	width:450px;
	font-size:19px;
}
h2{
	position:absolute;
	left:12%;
	top:15%;
}
@media only screen and (max-width:1023px){
	.main{width:100%;}
	.left{width:100%;
	height:800px;}
	.cuv{left:-240px;}
	h1{font-size:42px;
	width:70%;}
	p{
		font-size:28px;
		width:60%;
		top:230px;
	}
	.logo{
		top:450px;
		left:187px;
	}
	.right{
		left:22%;
		top:950px;
	}
}

@media only screen and (max-width:767px){
.left{width:100%;
	height:800px;}
.cuv{left:-220px;}
h1{font-size:52px;
	top:140px;
	left:175px;
	width:80%;}
	p{
		top:300px;
		left:135px;
		width:75%;
	}
.right{
	left:110px;
	top:950px;
}
}
